@media screen and (min-width: 0px) {

  html,
  body,
  #root {
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
    background-color: #FFFFFF;

    --basic-padding: 2rem;
    --basic-margin: 2rem;
    --flex-gap: 2rem;
    --mobile-nav-logo-box-height: 8.8rem;
    --mobile-nav-links-box-height: 17rem;
    --mobile-nav-CTA-button-box-height: 5.8rem;
  }

  @keyframes rotate360 {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  * {
    /* outline: 1px red solid; */
  }
}